<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="../../assets/icon/top-icon.png" class="logo" slot="start"></ion-img>
    <ion-title>
      TOP PRESSING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card class="carte">
        <p>Top Pressing vous propose des services de lavage a sec et repassqge en ligne</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carte">
        <p>On vient recuperer vos linges sales chez vous et on vous les ramenes conmme neuf</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carte">
        <p>Nos services sont a un prix tres abordables</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <br>

  <div class="milieu">
    <ion-card (click)="go()">
      <img src="../../assets/icon/repassage.jpg"/>
      <div class="card-title">Repassage</div>
      <div class="card-subtitle">Faite repasser vos vetements</div>
    </ion-card>

    <ion-card (click)="go2()">
      <img src="../../assets/icon/lavage.jpg"/>
      <div class="card-title">Lavage</div>
      <div class="card-subtitle">Faite laver vos linges</div>
    </ion-card>

    <ion-card (click)="go3()">
      <img src="../../assets/icon/lavage-repassage.jpg"/>
      <div class="card-title">Lavage et repassage</div>
      <div class="card-subtitle">Service pressing complet pour vos linges</div>
    </ion-card>
  </div>
</ion-content>
