<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="../../assets/icon/top-icon.png" class="logo" slot="start"></ion-img>
    <ion-title>
      TOP PRESSING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card class="carte">
        <p>Top Pressing vous propose des services de lavage a sec et repassqge en ligne</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carte">
        <p>On vient recuperer vos linges sales chez vous et on vous les ramenes conmme neuf</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carte">
        <p>Nos services sont a un prix tres abordables</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <br>

  <div class="milieu">
    <ion-card (click)="go()">
      <ion-card-header>
        <p>Repassage de linge</p>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/icon/clothing-iron.png"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="go2()">
      <ion-card-header>
        <p>Lavage</p>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/icon/washing-machine.png"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="go3()">
      <ion-card-header>
        <p>Lavage et repassage</p>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/icon/iron-table.png"></ion-img>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
