<ion-header>
  <ion-toolbar>
    <ion-title>repassage</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="carte">
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Chemise</ion-card-title>
      </ion-card-header>
      <ion-img src="../../assets/icon/images/chemise.png"></ion-img>
      <ion-card-content>
        <p>Prix de repassage</p>
      </ion-card-content>
      <ion-button>+</ion-button>
      <ion-button>-</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pantalon</ion-card-title>
      </ion-card-header>
      <ion-img src="../../assets/icon/images/pantalon.png"></ion-img>
      <ion-card-content>
        <p>Prix de repassage</p>
      </ion-card-content>
      <ion-button>+</ion-button>
      <ion-button>-</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pantalon</ion-card-title>
      </ion-card-header>
      <ion-img src="../../assets/icon/images/pantalon.png"></ion-img>
      <ion-card-content>
        <p>Prix de repassage</p>
      </ion-card-content>
      <ion-button>+</ion-button>
      <ion-button>-</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pantalon</ion-card-title>
      </ion-card-header>
      <ion-img src="../../assets/icon/images/pantalon.png"></ion-img>
      <ion-card-content>
        <p>Prix de repassage</p>
      </ion-card-content>
      <ion-button>+</ion-button>
      <ion-button>-</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pantalon</ion-card-title>
      </ion-card-header>
      <ion-img src="../../assets/icon/images/pantalon.png"></ion-img>
      <ion-card-content>
        <p>Prix de repassage</p>
      </ion-card-content>
      <ion-button>+</ion-button>
      <ion-button>-</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pantalon</ion-card-title>
      </ion-card-header>
      <ion-img src="../../assets/icon/images/pantalon.png"></ion-img>
      <ion-card-content>
        <p>Prix de repassage</p>
      </ion-card-content>
      <ion-button>+</ion-button>
      <ion-button>-</ion-button>
    </ion-card>

  </div>
</ion-content>
